.menu-page {
    background-color: #F7FAFC; 
    color: gray;
}

.menu-page-banner {
    background-image: url(../../images/slide/Slide0.jpg);
    /* background-color: #FFBF0A; */   
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    display: flex;
    
    & .menu-page-banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.3);
        margin: auto;
        border-radius: 2px;
        color: white;
        letter-spacing: 5px;
        padding: 5px;
        text-align: center
    }
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DDDDDD;
  color: white;
  text-align: center;
  letter-spacing: 3px;
    
    & h2 {
      font-size: 36px;
      font-weight: bolder;
    }
}