.our-pizza-page-banner {
    background-image: url(../../images/slide/Slide1.jpg);
    /* background-color: #FFBF0A; */   
    background-position: 60% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    display: flex;
    
    & .our-pizza-banner-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 80%;
        background-color: rgba(0, 0, 0, 0.3);
        margin: auto;
        border-radius: 2px;
        color: white;
        letter-spacing: 5px;
        padding: 5px;
        text-align: center
    }
}

.our-pizza-content {
    color: #333333;
}