.homepage-article {}

.article-image {
    min-height: 300px;
    background-color: #FFBF0A;
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
}

.article-description {
    display: flex;
    flex-direction: column;
}

.article-description-text {
    margin: auto;
}

.article-action-btn {
    /* margin-top: auto; */
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: #E74345;
    border: #E74345;
}

@media (max-width: 767px) {
    .homepage-article {
        border-bottom: 3px solid white;
    }
}