.homepage-article {
    /* min-height: 360px; */
}

.article-image {
    min-height: 360px;
    /* height: 100%; */
}

.article-description {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.article-description-text {
    margin: auto;
}

.article-action-btn {
    /* margin-top: auto; */
    align-self: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    background-color: #E74345;
    border: #E74345;
}

@media (max-width: 767px) {
    .homepage-article {
        border-bottom: 3px solid white;
    }
}