.business-hours-container {
    background-color: #E74345;
}

.business-hours-content {
    display: flex;
    flex-direction: column;
}

.business-hours-content-message {}

.greeting-message {
    margin-top: auto;
}