.main-navigation {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.nav-collapse-container {
  width: 100%; 
  justify-content: center;

}

.navbar-brand-small-logo {
  border: 1px solid #FDC72C;
  border-radius: 50%;
  background-color: #E74345;
  width: 40px;
  height: 40px;
}

.navbar-brand-large-logo-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50px);
}

.navbar-brand-large-logo {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #FDC72C;
  border-radius: 50%;
  background-color: #E74345;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.navbar-collapse {
  /* height: 100vw; */
  /* border: 1px solid saddlebrown; */
  /* margin-top: 10px; */
  /* padding: 10px; */
}

@media (max-width: 991px) {
  .nav-collapse-container {
    width: 100%; 
    margin-top: 10px;
    border-top: 1px solid #FDC72C;
    border-bottom: 1px solid #FDC72C;
    padding: 20px 0;
  }

  /* slide from left - BEGIN */
  /* .navbar-collapse {
        background-color: rgb(0, 0, 0, 0.6);
        position: absolute;
        top: 56px;
        left: -100%;
        width: 100%;
        height: 100vh;
        transition: all 0.4s ease;
        display: block;
        opacity: 0.8;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        left: -100%;
        margin-left: 1px;
        transition: all 0.2s ease;
        opacity: 0.9;
    }
    .navbar-collapse.show {
        margin-left: 100%;
        transition: all 0.2s ease;
        opacity: 1;
    }

    .nav-collapse-container{
      width: 300px;
      background-color: #E74345;
      height: 100vh;
      justify-content: flex-start;
      padding: 20px;
      margin: 0;
    } */
    /* slide from left - END */
}

@media (min-width: 992px) {
  .main-navigation {
    height: 90px;
    align-items: flex-start;
  }

  .navbar-brand-large-logo-container  {
    top: 40px;
  }

  .nav-link {
    margin-right: 5px;
  }
}